<div class="product-card-row">
    <h2>Rental Categories</h2>
</div>

<section id="x" class="product-card-row">

    <div class="card-container">
        <a href="/vehicle">
            <div class="card-img">
                <img src="https://bit.ly/3rR9J08" />
            </div>
            <div class="card-content">
                <h4>Vehicles</h4>
                <p>Automatic & Manual models</p>
            </div>
        </a>
    </div>

    <div class="card-container">
        <a href="/property">
            <div class="card-img">
                <img src="https://bit.ly/3rR8VbC" />
            </div>
            <div class="card-content">
                <h4>Apartment Rentals</h4>
                <p>CBD located apartments</p>
            </div>
        </a>
    </div>

    <div class="card-container">
        <a href="/electronics">
            <div class="card-img">
                <img src="https://bit.ly/3pIBsh1" />
            </div>
            <div class="card-content">
                <h4>Electronics</h4>
                <p>Entertainment & utility</p>
            </div>
        </a>
    </div>

    <div class="card-container">
        <a href="/furniture">
            <div class="card-img">
                <img src="https://bit.ly/3oFGBXA" />
            </div>
            <div class="card-content">
                <h4>Furniture</h4>
                <p>Style for rent</p>
            </div>
        </a>
    </div>

    <div class="card-container">
        <a href="/misc">
            <div class="card-img">
                <img src="https://bit.ly/3rOIR0R" />
            </div>
            <div class="card-content">
                <h4>Misc. Rentals</h4>
                <p>Clothes, objects, otherwise!</p>
            </div>
        </a>
    </div>

</section>