<footer class="footer-section">
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Featured</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="">New Arrivals</a></li>
            <li><a href="">Best Sellers</a></li>
            <li><a href="">On Sale</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Vehicles</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="">SUVs</a></li>
            <li><a href="">Sedans</a></li>
            <li><a href="">Luxury</a></li>
            <li><a href="">Convertibles</a></li>
            <li><a href="">Hatchbacks</a></li>
            <li><a href="">Vans</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Real Estate</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="">Houses</a></li>
            <li><a href="">Holiday Homes</a></li>
            <li><a href="">Apartments</a></li>
            <li><a href="">Penthouses</a></li>
        </div>
    </div>
    
  </footer>