<footer class="footer-section">
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Featured</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="/homepage">New Arrivals</a></li>
            <li><a href="/homepage">Best Sellers</a></li>
            <li><a href="/homepage">On Sale</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="/vehicle">Vehicles</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="/vehicle">SUVs</a></li>
            <li><a href="/vehicle">Sedans</a></li>
            <li><a href="/vehicle">Luxury</a></li>
            <li><a href="/vehicle">Convertibles</a></li>
            <li><a href="/vehicle">Hatchbacks</a></li>
            <li><a href="/vehicle">Vans</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="/property">Real Estate</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="/property">Houses</a></li>
            <li><a href="/property">Holiday Homes</a></li>
            <li><a href="/property">Apartments</a></li>
            <li><a href="/property">Penthouses</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="/electronics">Electronics</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="/electronics">Mobile Phones</a></li>
            <li><a href="/electronics">Smart Watches</a></li>
            <li><a href="/electronics">Televisons</a></li>
            <li><a href="/electronics">White Goods</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="/furniture">Furniture</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="/furniture">Beds</a></li>
            <li><a href="/furniture">Couches</a></li>
            <li><a href="/furniture">Tables</a></li>
            <li><a href="/furniture">Occasional Furniture</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="/misc">Misc. Items</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="/misc">Clothing</a></li>
            <li><a href="/misc">Jewellery</a></li>
            <li><a href="/misc">Accessories</a></li>
            <li><a href="/misc">Books</a></li>
        </div>
    </div>
    
  </footer>