<header class="navbar">
    <nav>
        <div class="navHome">
            <a href="/">Home</a>
        </div>
        <div class="navUserLoginOut">
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <section class="navTitle">
        <h1>Rental Bazaar</h1>
    </section>
    <section class="navSearch">
        <div>
            <input type="text" placeholder="Search..">
        </div>
    </section>
    <section>
        <ul class="nav-menu">
           <li class="nav-li"><a href="">Vehicles</a></li>
            <li class="nav-li"><a href="">Real Estate</a></li>
        </ul>
    </section>
  </header>