<header class="navbar">
    <nav>
        <div class="navHome">
            <a href="/homepage">Home</a>
        </div>
        <div class="navUserLoginOut">
            <a href="/addvehicle" id ="addvehicle">Add Vehicle</a>
            <a href="/login">Login</a>
            <a href="/logout" id="logout">Logout</a>
        </div>
    </nav>
    <section class="navTitle">
        <a href="/homepage"><h1>Rental Bazaar</h1></a>
    </section>
    <section class="navSearch">
        <div>
            <input type="text" placeholder="Search.." />
        </div>
    </section>
    <section>
        <ul class="nav-menu">
            <li class="nav-li"><a href="/vehicle">Vehicles</a></li>
            <li class="nav-li"><a href="/property">Real Estate</a></li>
            <li class="nav-li"><a href="/electronics">Electronics</a></li>
            <li class="nav-li"><a href="/furniture">Furniture</a></li>

            <li class="nav-li"><a href="/misc">Other Items</a></li>
        </ul>
    </section>
</header>
<script src="./js/logout.js"></script>