<section class="carouselSection">
        <!-- Carousel -->
        <div class="productCarousel">
            <div class="carouselBox">
            <!-- Product data to come here -->
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg" alt="">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
            </div>

            <button class="leftSliderButton" onclick="sliderScrollLeft()" aria-label="previous slide"><</button>
            <button class="rightSliderButton"  aria-label="next slide" onclick="sliderScrollRight()">></button>
        </div>
    </section>