<section class="carouselSection">
        <!-- Carousel -->
        <div class="productCarousel">
            <div class="carouselBox">
            <!-- Product data to come here -->
                <img src="https://bit.ly/3lzxtBY" alt="Real Estate Rental">
                <img src="https://bit.ly/3Gd7YOP" alt="Car Rental">
                <img src="https://bit.ly/3lzxtBY" alt="Real Estate Rental">
                <img src="https://bit.ly/3Gd7YOP" alt="Car Rental">
                <img src="https://bit.ly/3lzxtBY" alt="Real Estate Rental">
                <img src="https://bit.ly/3Gd7YOP" alt="Car Rental">
                <img src="https://bit.ly/3lzxtBY" alt="Real Estate Rental">
                <img src="https://bit.ly/3Gd7YOP" alt="Car Rental">
                <img src="https://bit.ly/3lzxtBY" alt="Real Estate Rental">
                <img src="https://bit.ly/3Gd7YOP" alt="Car Rental">
                <img src="https://bit.ly/3lzxtBY" alt="Real Estate Rental">
            </div>

            <button class="leftSliderButton" onclick="sliderScrollLeft()" aria-label="previous slide"><</button>
            <button class="rightSliderButton"  aria-label="next slide" onclick="sliderScrollRight()">></button>
        </div>
    </section>