<div class="card-container">
    <div class="card-ribbon">
        <p>Best Seller</p>
    </div>
    <div class="card-img">
        <img src="https://bit.ly/3lzxtBY" />
    </div>
    <div class="card-content">
        <h4>Property Address:{{address}} </h4>
        <p>{{description}}</p>
        <p>Price:{{price}}</p>
        <p>Contact:{{user.username}}</p>

    </div>
</div>