{{> navbar }}

 <section class="product-card-row">
    <h2>{{vehicles}}</h2>
    
    <form id="addvehicle-form">
        <h2>ADD VEHICLE DETAILS</h2>
        <div>
            <div class="card"><label>Model:</label>
                <input type="text" id="model" placeholder="eg:honda" /></div>
        </div>
        <div>
            <div class="card"><label>Color:</label>
                <input type="text" id="color" /></div>
            <div class="card"> <label>Year:</label><input type="text" id="year" /></div>
        </div>
        <div class="card"><label>License Plate:</label><input type="text" id="licenseplate" /></div>
        <div class="card"><label>Registration Expiry:</label><input type="text" id="registrationexpiry" /></div>
        <div class="card"><label>Insurance Expiry:</label><input type="text" id="insuranceexpiry" /></div>
        <div class="card"><label>Rate Per Day:</label><input type="text" id="price" /></div>
        <div class="card"><label>Available:</label><input type="checkbox" id="available" /></div>
        <div class="card"> <label>UserID:</label><input type="list" id="userid" /> </div>
        <div class="card"> <label>Category:</label><input type="list" id="categoryid" /></div>
        <button id="addvehiclebtn">ADD:</button>

    </form>
</section>
<script src="/js/addvehicle.js"></script>

{{> footer}}