{{> navbar}}

<div class="product-card-row">
        <h2>Furniture Rentals</h2>
    </div>

    
    <section id="x" class="product-card-row">

      <div id="x">
        {{#each furnitures as |furniture|}}
        {{> furniture }}
        {{/each}}
      </div>
    
    </section>

{{> footer}}