
{{> navbar }}

{{> aboutcarousel }}

  <div class="product-card-row">
        <h2>Rental Categories</h2>
    </div>

    
    <section id="x" class="product-card-row">

      {{> categoryCards}}
    
    </section>

{{> footer}}

