
{{> navbar }}

{{> productCarousel }}

    <div class="product-card-row">
        <h2>Real Estate</h2>
    </div>

    
    <section id="x" class="product-card-row">
        
    {{#each properties as |property|}}
    {{> property }}
    {{/each}}

    </section>

{{> aboutcarousel }}

    <div class="product-card-row">
            <h2>Vehicles</h2>
    </div>
    <section class="product-card-row">
        {{> vehicle }}
    </section>


{{> footer}}

