<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentalBazaar</title>
  <link rel="stylesheet" href="../../public/css/style.css" />
</head>

<body>
  <header class="navbar">
    <nav>
        <div class="navHome">
            <a href="/">Home</a>
        </div>
        <div class="navUserLoginOut">
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <section class="navTitle">
        <h1>Rental Bazaar</h1>
    </section>
    <section class="navSearch">
        <div>
            <input type="text" placeholder="Search..">
        </div>
    </section>
    <section>
        <ul class="nav-menu">
            <li class="nav-li"><a href="">Mobile Phones</a></li>
            <li class="nav-li"><a href="">Computers</a></li>
            <li class="nav-li"><a href="">Entertainment</a></li>
            <li class="nav-li"><a href="">Home & Garden</a></li>
            <li class="nav-li"><a href="">Kitchen & Laundry</a></li>
            <li class="nav-li"><a href="">Vehicles</a></li>
            <li class="nav-li"><a href="">Real Estate</a></li>
            <li class="nav-li"><a href="">Furniture</a></li>
            <li class="nav-li"><a href="">Leisure</a></li>
        </ul>
    </section>
  </header>