{{> navbar}}

<div class="product-card-row">
        <h2>Miscellaneous Rentals</h2>
    </div>

    
    <section id="x" class="product-card-row">

      <div id="x">
        {{#each misc as |misci|}}
        {{> misci }}
        {{/each}}
      </div>

    </section>
{{> footer}}
