{{> navbar}}

<div id="x">
<a href ="/addvehicle" id ="addvehicle">Add Vehicle</a>

<div class="product-card-row">
        <h2>Misc Rentals</h2>
    </div>

    
    <section id="x" class="product-card-row">

      <div id="x">
        {{#each vehicles as |vehicle|}}
        {{> vehicle }}
        {{/each}}
      </div>

    </section>

{{> footer}}