{{> navbar}}

    <div class="product-card-row">
            <h2>Vehicle Rentals</h2>
        </div>

        <section id="x" class="product-card-row">

          <div id="x">
            {{#each vehicles as |vehicle|}}
            {{> vehicle }}
            {{/each}}
          </div>

        </section>

{{> footer}}