<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentalBazaar</title>
  <link rel="stylesheet" href="../../public/css/style.css" />
</head>

<body>
  <header class="navbar">
    <nav>
        <div class="navHome">
            <a href="/">Home</a>
        </div>
        <div class="navUserLoginOut">
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <section class="navTitle">
        <h1>Rental Bazaar</h1>
    </section>
    <section class="navSearch">
        <div>
            <input type="text" placeholder="Search..">
        </div>
    </section>
    <section>
        <ul class="nav-menu">
            <li class="nav-li"><a href="">Mobile Phones</a></li>
            <li class="nav-li"><a href="">Computers</a></li>
            <li class="nav-li"><a href="">Entertainment</a></li>
            <li class="nav-li"><a href="">Home & Garden</a></li>
            <li class="nav-li"><a href="">Kitchen & Laundry</a></li>
            <li class="nav-li"><a href="">Vehichles</a></li>
            <li class="nav-li"><a href="">Real Estate</a></li>
            <li class="nav-li"><a href="">Furniture</a></li>
            <li class="nav-li"><a href="">Leisure</a></li>
        </ul>
    </section>
  </header>
  <main>

    <section class="carouselSection">
        <!-- Carousel -->
        <div class="productCarousel">
            <div class="carouselBox">
            <!-- Product data to come here -->
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg" alt="">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
                <img src="https://i.pinimg.com/736x/fa/3e/35/fa3e3521f5c4f4f6dead30dfe24966ae.jpg">
            </div>

            <button class="leftSliderButton" onclick="sliderScrollLeft()" aria-label="previous slide"><</button>
            <button class="rightSliderButton"  aria-label="next slide" onclick="sliderScrollRight()">></button>
        </div>
    </section>

    <section id="about-container" class="about-container">
        <ul id="about-banner" class="about-banner">
            <li class="banner-content">
                <div class="banner-img">
                    <img src="https://cdn-icons-png.flaticon.com/64/636/636047.png">
                </div>
                <div class="banner-text">
                    <h2>Step 1. Select </h2>
                    <p>Select from over 900 products</p>
                </div>
            </li>
            <li class="banner-content">
                <div class="banner-img">
                    <img src="https://cdn-icons-png.flaticon.com/64/2838/2838779.png">
                </div>
                <div class="banner-text">
                    <h2>Step 2. Choose Rental Term</h2>
                    <p>Select how long you want wish to rent the product for</p>
                </div>
            </li>
            <li class="banner-content">
                <div class="banner-img">
                    <img src="https://cdn-icons-png.flaticon.com/64/4301/4301554.png">
                </div>
                <div class="banner-text">
                    <h2>Step 3. Submit Your Application</h2>
                    <p>Submit your request to rent the product</p>
                </div>
            </li>
        </ul>
    </section>
    <section class="product-card-row">
      <div class="card-container">
        <div class="card-ribbon">
            <p>Best Seller</p>
        </div>
        <div class="card-img">
            <img src="https://via.placeholder.com/245">
        </div>
        <div class="card-content">
            <p class="card-name">Product Title</p>
            <p class="card-description">Product Description: item is white, squarish and has straight sides.</p>
        </div>
      </div>
      <div class="card-container">
        <div class="card-ribbon">
            <p>Best Seller</p>
        </div>
        <div class="card-img">
            <img src="https://via.placeholder.com/245">
        </div>
        <div class="card-content">
            <p class="card-name">Product Title</p>
            <p class="card-description">Product Description: item is white, squarish and has straight sides.</p>
        </div>
      </div>
      <div class="card-container">
        <div class="card-ribbon">
            <p>Best Seller</p>
        </div>
        <div class="card-img">
            <img src="https://via.placeholder.com/245">
        </div>
        <div class="card-content">
            <p class="card-name">Product Title</p>
            <p class="card-description">Product Description: item is white, squarish and has straight sides.</p>
        </div>
      </div>
      <div class="card-container">
        <div class="card-ribbon">
            <p>Best Seller</p>
        </div>
        <div class="card-img">
            <img src="https://via.placeholder.com/245">
        </div>
        <div class="card-content">
            <p class="card-name">Product Title</p>
            <p class="card-description">Product Description: item is white, squarish and has straight sides.</p>
        </div>
      </div>
      <div class="card-container">
        <div class="card-ribbon">
            <p>Best Seller</p>
        </div>
        <div class="card-img">
            <img src="https://via.placeholder.com/245">
        </div>
        <div class="card-content">
            <p class="card-name">Product Title</p>
            <p class="card-description">Product Description: item is white, squarish and has straight sides.</p>
        </div>
      </div>
      <div class="card-container">
        <div class="card-ribbon">
            <p>Best Seller</p>
        </div>
        <div class="card-img">
            <img src="https://via.placeholder.com/245">
        </div>
        <div class="card-content">
            <p class="card-name">Product Title</p>
            <p class="card-description">Product Description: item is white, squarish and has straight sides.</p>
        </div>
      </div>
      <div class="card-container">
        <div class="card-ribbon">
            <p>Best Seller</p>
        </div>
        <div class="card-img">
            <img src="https://via.placeholder.com/245">
        </div>
        <div class="card-content">
            <p class="card-name">Product Title</p>
            <p class="card-description">Product Description: item is white, squarish and has straight sides.</p>
        </div>
      </div>
      <div class="card-container">
        <div class="card-ribbon">
            <p>Best Seller</p>
        </div>
        <div class="card-img">
            <img src="https://via.placeholder.com/245">
        </div>
        <div class="card-content">
            <p class="card-name">Product Title</p>
            <p class="card-description">Product Description: item is white, squarish and has straight sides.</p>
        </div>
      </div>
    </section>

  </main>

  <footer class="footer-section">
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Featured</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="">New Arrivals</a></li>
            <li><a href="">Best Sellers</a></li>
            <li><a href="">On Sale</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Mobile Phones</a>
        </div>
        <ul class="footer-cats-subtypes">
            <li><a href="">Mobile phones</a></li>
            <li><a href="">Landline phones</a></li>
            <li><a href="">Smart watches</a></li>
        </ul>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Computers</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="">Computer Accessories</a></li>
            <li><a href="">Computer Bundles</a></li>
            <li><a href="">Desktops</a></li>
            <li><a href="">Gaming</a></li>
            <li><a href="">Laptops</a></li>
            <li><a href="">Tablets</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Entertainment</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="">Audio</a></li>
            <li><a href="">Gaming</a></li>
            <li><a href="">Smart Home</a></li>
            <li><a href="">Televisions</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Home & Garden</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="">BBQs</a></li>
            <li><a href="">Floor Care</a></li>
            <li><a href="">Gardening Tools</a></li>
            <li><a href="">Health & Beauty</a></li>
            <li><a href="">Heaters & Coolers</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Kitchen & Laundry</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="">Dishwashers</a></li>
            <li><a href="">Dryers</a></li>
            <li><a href="">Freezers</a></li>
            <li><a href="">Fridges</a></li>
            <li><a href="">Small appliances</a></li>
            <li><a href="">Washer Dryers</a></li>
            <li><a href="">Washing Machines</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Vehichles</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="">SUVs</a></li>
            <li><a href="">Sedans</a></li>
            <li><a href="">Luxury</a></li>
            <li><a href="">Convertibles</a></li>
            <li><a href="">Hatchbacks</a></li>
            <li><a href="">Vans</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Real Estate</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="">Houses</a></li>
            <li><a href="">Holiday Homes</a></li>
            <li><a href="">Apartments</a></li>
            <li><a href="">Penthouses</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Furniture</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="">Bedroom</a></li>
            <li><a href="">Dining</a></li>
            <li><a href="">Lounge</a></li>
            <li><a href="">Office</a></li>
            <li><a href="">Bathroom</a></li>
        </div>
    </div>
    <div class="footer-categories-col">
        <div class="footer-cats-title">
            <a href="">Leisure</a>
        </div>
        <div class="footer-cats-subtypes">
            <li><a href="">Cameras</a></li>
            <li><a href="">Drones</a></li>
            <li><a href="">Fitness</a></li>
            <li><a href="">RC Cars</a></li>
            <li><a href="">Scooters & Bikes</a></li>
        </div>
    </div>
    
  </footer>
  
  <script src="../../public/js/homepage.js"></script>
  <script src="/js/logout.js"></script>
  
</body>

</html>